* {
  font-family: Montserrat;
  /* font-family: "Ubuntu"; */
}

.container-fluid {
  background-color: "E5E5E5";

  height: 100vh;

  display: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div .img {
  margin-top: 3.5rem;

  text-align: center;

  font-family: Ubuntu;
  font-size: 2.5rem;
}

.title {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 24px;

  text-align: center;
}

div .description {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;

  text-align: center;

  color: #9ca8b9;
}

div .form-label {
  margin-bottom: 0;
}

div .spacing24 {
  margin-top: 1.625rem;
}

div .btn-green {
  width: 100%;
  height: 2.5rem;

  background: #2aa69b;
  box-shadow: 0px 12px 24px rgba(42, 166, 155, 0.16);
  border-radius: 100px;

  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

div .btn-orange:hover {
  background-color: #2ab59b;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
